{# empty Twig template #}
{% extends '::base.html.twig' %}

{% block penstanias2 %}
    <div id="menu" >
        <ul>
            <li>
                <a href="{{ path('corredores_rioja_corredores_homepage') }}">{{ 'menu2_1' | trans }}<br/></a>
            </li>
            <li>
                <a href="{{ path('corredores_rioja_corredores_carreras') }}">{{ 'menu2_2' | trans}}<br/></a>
            </li>
            <li>
                <a href="{{ path('corredores_rioja_mis_carreras') }}">{{ 'menu2_3' | trans}}<br/></a>
            </li>
            <li>
                <a href="{{ path('usuario_login') }}">{{ 'menu2_4' | trans}}<br/></a>
            </li>
        </ul>
        <div style="clear: left;"></div>
    </div>
</div>     
    {% endblock %}