<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="es-ES">
        <title>Bienvenido a Carreras por La Rioja</title>
        <meta name="description" content="Aplicación de prueba de Desarrollo de Aplicaciones para Internet; Máster en Informática; Universidad de La Rioja." lang="es-ES">
        <link href="{{ asset('bundles/corredoresriojacorredores/css/carrerasrioja.css') }}" rel="stylesheet" media="all" type="text/css" >
        <link href = "{{ asset('bundles/corredoresriojacorredores/css/comun.css') }}" rel = "stylesheet" type = "text/css" />


    </head>

    <body >
        <div class="logo">Carreras por La Rioja</div>

        <div class="sombra">
            <div class="nucleo">
                <div id="lang">

                    
                    {% set locale = app.request.locale %}
                        {%if locale == 'es' %}
                            <a href="{{path('corredores_rioja_corredores_homepage.en')}}">English</a>
                        {% elseif locale == 'en' %}
                            <a href="{{path('corredores_rioja_corredores_homepage.es')}}">Español</a>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="barra_menus">

            {% block penstanias %}
                <div class="pestanias">
                    <div class="grupoPestanias">
                        <div class="pestaniaSel"><a href="{{ path('corredores_rioja_corredores_homepage') }}">{{ 'menu1_1' | trans }}</a></div>
                        <div class="pestaniaNoSel"><a href="{{ path('corredores_rioja_corredores_homepage') }}">{{ 'menu1_2' | trans }}</a></div>
                        <div class="pestaniaNoSel"><a href="{{ path('corredores_rioja_corredores_homepage') }}">{{ 'menu1_3' | trans }}</a></div>
                    </div>
                </div>
                {# definimos un enlace que nos muestra la página de cada entrada individual #}
            {% endblock %}

            {% block penstanias2 %}
            {% endblock %}





            <div class="sombra">
                <div class="nucleo">
                    <div id="migas">
                        <div class="clear"></div> 

                    </div>



                    <div class="contenido">

                            {% block cuerpo %}
                            {% endblock %}
                        
                    </div>   


                </div>
                <div class="clear"></div>  
                <div class="separa"></div>

                <div class="pie">
                    <span class="pie_izda">
                        <a href="mailto:rubisf@gmail.com">Contacto</a> </span>
                    <span class="pie_dcha">
                        &copy; 2015 Rubén Sáenz Francia  </span>
                    <div class="clear"></div>  
                </div>

            </div>
    </body>
</html>